################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleApp/bin/Debug
/Implementation/bin/Debug
/.vs/Algorithms/v15/Server/sqlite3
*.CopyComplete
*.txt
